alembic==1.18.5
aiohappyeyeballs==2.6.2
threadpoolctl==3.6.0
starlette==1.3.1
fastapi==0.138.1
opentelemetry-sdk==1.43.0
msgpack==1.2.1
py-spy==0.4.2
multidict==6.7.1
pydantic_core==2.46.4
setuptools==82.0.1
wandb==0.28.0
pandas==3.0.3
sentry-sdk==2.63.0
click==8.4.2
Mako==1.3.12
jsonschema-specifications==2025.9.1
optuna==4.9.0
websockets==16.0
opentelemetry-semantic-conventions==0.64b0
requests==2.34.2
narwhals==2.22.1
colorful==0.5.8
yarl==1.24.2
SQLAlchemy==2.0.51
wheel==0.47.0
opentelemetry-api==1.43.0
scikit-learn==1.9.0
jsonschema==4.26.0
opentelemetry-proto==1.43.0
wrapt==2.2.2
anyio==4.14.1
propcache==0.5.2
GitPython==3.1.50
google-auth==2.55.1
python-discovery==1.4.2
proto-plus==1.28.0
packaging==26.2
google-api-core==2.31.0
cffi==2.0.0
googleapis-common-protos==1.75.0
filelock==3.29.4
platformdirs==4.10.0
aiohttp==3.14.1
aiohttp-cors==0.8.1
ray==2.55.1
cryptography==49.0.0
certifi==2026.6.17
httptools==0.8.0
tqdm==4.68.3
python-dotenv==1.2.2
h11==0.16.0
gitdb==4.0.12
protobuf==7.35.1
smmap==5.0.3
pycparser==3.0
virtualenv==21.5.1
distlib==0.4.3
python-dateutil==2.9.0.post0
colorlog==6.10.1
PyYAML==6.0.3
opencensus-context==0.1.3
frozenlist==1.8.0
typing_extensions==4.15.0
aiosignal==1.4.0
opentelemetry-exporter-prometheus==0.64b0
joblib==1.5.3
watchfiles==1.2.0
scipy==1.18.0
opencensus==0.11.4
referencing==0.37.0
charset-normalizer==3.4.7
uvicorn==0.49.0
MarkupSafe==3.0.3
attrs==26.1.0
pydantic==2.13.4
pip==26.1.2
numpy==2.5.0
urllib3==2.7.0
prometheus_client==0.25.0
pyasn1_modules==0.4.2
uvloop==0.22.1
rpds-py==2026.5.1
idna==3.18
typing-inspection==0.4.2
annotated-types==0.7.0
smart_open==8.0.0
grpcio==1.81.1
six==1.17.0
annotated-doc==0.0.4
pyasn1==0.6.3
